// @import "variables";
// $main_color: {{ .Site.Params.styles.main_color | default "#7cc1ac" }};
$main_color: {{ .Site.Params.styles.main_color | default "#eee2df" }};
// $contrast_color: {{ .Site.Params.styles.constrast_color | default "#e27d60" }};
$contrast_color: {{ .Site.Params.styles.constrast_color | default "#b36a5e" }};
$breakpoint-tablet: 1024px;

@import "base";
@import "navigation";
@import "footer";