
{{ define "main" }}
  <!--<header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header> -->
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    <div id="section-div">
      {{ range .Params.sections}}
        <div class="image-block">
          <img src="/img/{{.image}}" />
        </div>
      {{end}}
    </div>
    <div id="firstBlock"> </div>
    <div id="secondBlock"> </div>

  </div>
  <div>
    {{ range first 10 .Site.RegularPages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
{{ end }}
