
{{ define "main" }}
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    <div id="section-div">
      {{ range $index, $element := .Params.sections}}
        <div class="image-block slide">
          {{ $className := "image-text-left "}}
          {{ if eq (mod $index 2) 1 }}
            {{ $className = "image-text-right" }}
          {{ end }}
          <div class="{{$className}}"><h1>{{$element.text}}</h1></div>
          <img src="/img/{{$element.image}}" />
        </div>
      {{end}}
    </div>
  </div>
{{ end }}
