{{ $i := 1 }}
<div id="{{ .Get `name` }}" class="slideshow-container" style="width: {{.Get `width`}}">
    {{.Inner}}
    <a class="prev" onclick="plusSlides(-1, {{ .Get `name` }}, {{ .Get `imgCount` }})">&#10094;</a>
    <a class="next" onclick="plusSlides(1, {{ .Get `name` }}, {{ .Get `imgCount` }})">&#10095;</a>
    <div style="text-align:center">
        {{ range $i, $itemIndex := (seq (.Get "imgCount") ) }}
            <span class="dot" onclick="currentSlide({{$itemIndex}}, 'muffin-1')"></span> 
        {{ end }}
    </div>
</div>